body{
    background-color: #45567d;
}
#sample img{  
    
    height:200px;
    margin: 0 
  }
  #sample{
    background-color: #303841;
    width: 400px;
    cursor: pointer;
    color: white;    
  margin : 5px;
  }
  a{
    color: white;
  }
#contact {
    color: white;
} 
#work-sample { 
display: flex;
flex-wrap: wrap;

}
#sample h4{
  text-align: center;
}