*{
  margin: 0;
}
body{
  background-color: #dddddd;
    background-image: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80");
    margin: 0;     
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  

  }
#sample img{  
    
    height:200px;
    margin: 0 ;
    border-radius: 25%;
    
  }
  #sample{
    background-color: rgba(219,216,123, 0.3);
    width: 400px;
    cursor: pointer;
    border-radius: 25%;
     
  margin : 5px;
  }
  a{
    color: black;
  }
#contact {
    color: black;
} 
#work-sample { 
display: flex;
flex-wrap: wrap;

}
#sample h4{
  text-align: center;
}
#name{
  text-align: center;
}
#pj{
  font-size: 20;
  color:rgba(219,216,123);
}